<!DOCTYPE html>
<html lang="en">
<head>
    <title>Access</title>
</head>
<body>
<h1>/get-tokens  - GET запрос, аргументы: GUID, назначение - получение access и refresh токенов</h1>
<h1>/refresh  - POST запрос, аргументы: refresh токен, назначение - обновление access и refresh токенов</h1>
<h1>/delete-token  - DELETE запрос, аргументы: refresh токен, назначение - удаление refresh токена</h1>
<h1>/delete-tokens  - DELETE запрос, аргументы: GUID, назначение - удаление refresh токенов по GUID</h1>
</body>
</html>